body, html {
    text-align: center;
    margin: 0;
}
#header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid lightgray;
}
#header a {
    font-weight: bold;
    color: #F7A500;
    text-decoration: none;
}
#header a:hover {
    color: #FF7604;
}
#header > div {
    display: inline-block;
    padding: 5px 15px;
    border: 3px solid dimgray;
    border-radius: 5px;
}